<section id=signup class="bordered">
    <header>
        <h2 class="header-bg header-fg">Newsletter Signup Form</h2>
    </header>
    <form cdkTrapFocus>
        <label>Name: <input type="text"></label>
        <br />
        <label for="email">Email:</label>
        <input type="email" title="email">
        <br />
        <label>Dept: <input type="text"></label>
        <br />
        Phone: <input type="text" aria-label="phone">
        <br />
        <label>Subscribed: 
            <input type="checkbox" class="cdk-visually-hidden" checked="true">
        </label>
        <br />
        <label>Accept Policies: 
            <input type="checkbox" >
        </label>
        <br/>
        <button (click)="btnSubmit($event)">Sign-Up</button>
        <button (click)="btnCancel()">Cancel</button>
    </form>
</section>