/* You can add global styles to this file, and also import other style files */
h1,
h2,
h3,
ul {
    margin: 0px;
    padding: 0px;
}

.boxed {
    border: 1px solid black;
    width: 170px;
    padding: 5px;
}