.border{
    border: solid 2px blue;
    border-radius: 10px;
    margin-top: 5px;
}

.contents{
    padding: 5px;
}

h2{
    font-size: 1em;
    color: blue;
    background-color:lightblue;
    border-radius: 8px 8px 0px 0px;
}